@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a class="btn btn-outline-info" asp-action="GetAllRecords" asp-controller="ExpenseReport">Go To Expense Report</a></p>
</div>
